name: Compila Aseprite Windows

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout del codice
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Scarica Skia (Versione m124)
      run: |
        curl -L -o skia.zip https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-Windows-Release-x64.zip
        7z x skia.zip -oskia
        
    - name: Imposta Ninja
      run: ninja --version

    - name: Imposta MSVC (Visual Studio)
      uses: ilammy/msvc-dev-cmd@v1

    - name: Genera Progetto (CMake con Percorsi Assoluti)
      run: |
        cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLAF_BACKEND=skia -DSKIA_DIR=${{ github.workspace }}/skia -DSKIA_LIBRARY_DIR=${{ github.workspace }}/skia/out/Release-x64 -DSKIA_LIBRARY=${{ github.workspace }}/skia/out/Release-x64/skia.lib
    
    - name: Compila Aseprite
      run: ninja -C build aseprite

    - name: Prepara lo Zip
      run: |
        mkdir Aseprite
        copy build\bin\aseprite.exe Aseprite\
        xcopy /E /I data Aseprite\data
        7z a Aseprite-Build.zip Aseprite

    - name: Carica il risultato
      uses: actions/upload-artifact@v4
      with:
        name: Aseprite-Windows
        path: Aseprite-Build.zip
