name: Compila Aseprite Windows

on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout del codice
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Scarica Skia
      run: |
        curl -L -o skia.zip https://github.com/aseprite/skia/releases/download/m102-861e4743af/Skia-Windows-Release-x64.zip
        7z x skia.zip -oskia
        
    - name: Imposta Ninja (Incluso in Windows-latest)
      run: ninja --version

    - name: Imposta MSVC (Visual Studio)
      uses: ilammy/msvc-dev-cmd@v1

    - name: Genera Progetto (CMake)
      run: |
        cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release -DLAF_BACKEND=skia -DSKIA_DIR=./skia -DSKIA_LIBRARY_DIR=./skia/out/Release-x64 -DSKIA_LIBRARY=./skia/out/Release-x64/skia.lib
    
    - name: Compila Aseprite
      run: ninja -C build aseprite

    - name: Prepara lo Zip
      run: |
        mkdir Aseprite
        copy build\bin\aseprite.exe Aseprite\
        xcopy /E /I data Aseprite\data
        7z a Aseprite-Build.zip Aseprite

    - name: Carica il risultato
      uses: actions/upload-artifact@v4
      with:
        name: Aseprite-Windows
        path: Aseprite-Build.zip
